
build.properties

core/.classpath

core/.project
algorithms/.classpath
algorithms/.project
benchmarks/.classpath
benchmarks/.project

.idea/
*.iml

core/.settings/org.eclipse.jdt.core.prefs

*.prefs

*.log

*.releaseBackup

*.pub

*.properties

target/checkout/
