
build.properties

core/.classpath

core/.project
benchmarks/.classpath
benchmarks/.project

core/.settings/org.eclipse.jdt.core.prefs

*.prefs

*.log

*.releaseBackup

*.pub

*.properties

target/checkout/
