name: Java CI
on: [push, pull_request]

permissions:
  contents: write    # Required to push the badge SVG back to the repo
  actions: read      # Optional: helpful for some internal metadata

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
      - name: Build and Test
        run: mvn test # or ./gradlew test
      - name: Generate Core JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: mug/target/site/jacoco/jacoco.csv
          badges-directory: .github/badges
          badge-filename: mug-coverage.svg
          generate-branches-badge: true
          generate-summary: true
          summary-filename: mug-summary.json
      - name: Generate dot-parse JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: dot-parse/target/site/jacoco/jacoco.csv
          badges-directory: .github/badges
          badge-filename: dot-parse-coverage.svg
          generate-branches-badge: true
          generate-summary: true
          summary-filename: dot-parse-summary.json
      - name: Generate safe-sql JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: mug-safesql/target/site/jacoco/jacoco.csv
          badges-directory: .github/badges
          badge-filename: mug-safesql-coverage.svg
          generate-branches-badge: true
          generate-summary: true
          summary-filename: mug-safesql-summary.json
      - name: Generate concurent-24 JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: mug-concurrent24/target/site/jacoco/jacoco.csv
          badges-directory: .github/badges
          badge-filename: mug-concurrent24-coverage.svg
          generate-branches-badge: true
          generate-summary: true
          summary-filename: mug-concurrent24-summary.json
      - name: Generate mug-guava JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: mug-guava/target/site/jacoco/jacoco.csv
          badges-directory: .github/badges
          badge-filename: mug-guava-coverage.svg
          generate-branches-badge: true
          generate-summary: true
          summary-filename: mug-guava-summary.json
      - name: Log coverage percentage
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Commit and push badges
        if: github.event_name != 'pull_request'
        run: |
          cd .github/badges
          if [[ `git status --porcelain` ]]; then
            git config --global user.name 'github-actions'
            git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add *.svg
            git commit -m "Autogenerated JaCoCo coverage badge"
            git push
          fi
